@model IEnumerable<CartViewModel>

@{
    ViewBag.Title = "All Items in the cart";
    double sum = 0;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Item Name</label></th>
            <th><label>Image</label></th>
            <th><label>Amount</label></th>
            <th><label>Price</label></th>
            <th><label>SubTotal</label></th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
                    <thead>
                        <tr>
                            <td>
                                <label>@item.ItemName</label>
                            </td>
                            <td>
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="@item.ImageUrl" class="img-fluid rounded-3" alt="Gaming Chair">
                                </div>
                            </td>
                            <td>
                                <label>@item.Amount</label>
                            </td>
                            <td>
                                <label>@item.Price</label>
                            </td>
                            <td>
                                <label>@((item.Price * item.Amount).ToString("c"))</label>
                                <label style="display: none">@(sum += (item.Price * item.Amount))</label>
                            </td>
                            <td>
                                <form class="input-group-sm" asp-controller="Cart"
                                    asp-action="PlusAmount" asp-route-id="@item.ItemId" method="post">
                                    <input class="btn btn-primary" type="submit" value="Plus"/>
                                    </form>

                                <form class="input-group-sm" asp-controller="Cart"
                                    asp-action="MinusAmount" asp-route-id="@item.ItemId" method="post">
                                    <input class="btn btn-primary" type="submit" value="Minus"/>
                                    </form>
                            </td>
                        </tr>  
                    </thead>

        }
    }
    <thead>
                <tr>
                    <td>
                        <label></label>
                    </td>
                    <td>
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <img src="">
                        </div>
                    </td>
                    <td>
                        <label></label>
                    </td>
                    <td>
                        <label></label>
                    </td>
                    <td>
                        <label>@sum.ToString("c")</label>
                    </td>
                </tr>  
            </thead>
</table>
<form class="input-group-sm" asp-controller="Shop"
                      asp-action="MinusAmount" asp-route-id="" method="post">
                            <input class="btn btn-primary" type="submit" value="Purchase" />
                        </form>