@model BookATableViewModel
@{
    var year = DateTime.Now.Year;
    var nextYear = DateTime.Now.Year + 1;
    var month = DateTime.Now.Month.ToString().PadLeft(2, '0');
    var day = DateTime.Now.Day.ToString().PadLeft(2, '0');
    var hour = DateTime.Now.Hour.ToString().PadLeft(2, '0');
    var minute = DateTime.Now.Minute.ToString().PadLeft(2, '0');
    string empty = string.Empty;
}
<!-- Book A Table Section -->
        <section id="book-a-table" class="book-a-table section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Book A Table</h2>
                <p><span>Book Your</span> <span class="description-title">Stay With Us<br></span></p>
            </div><!-- End Section Title -->
            
            <div class="container">

                <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 reservation-img" style="background-image: url('/assets/img/reservation.jpg');"></div>

                    <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
                <form asp-action="BookTable" asp-controller="Home" method="post">
                            <div class="row gy-4">
                                <div class="col-lg-4 col-md-6">
                                    <input asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="Name:"/>
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input asp-for="@Model.Email" class="form-control" aria-required="true" placeholder="Email:"/>
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" placeholder="Phone Number:"/>
                                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input asp-for="@Model.Day" type="date" value="@year-@month-@day" min="@year-@month-@day" max="@nextYear-@month-@day" class="form-control" placeholder="Date" >
                                    <span asp-validation-for="@Model.Day" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input asp-for="@Model.Hour" type="time" value="@hour:@minute" class="form-control"  placeholder="Time">
                                    <span asp-validation-for="@Model.Hour" class="text-danger"></span>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <input asp-for="@Model.NumberOfPeople" type="number" class="form-control" placeholder="Number of people:">
                                    <span asp-validation-for="@Model.NumberOfPeople" class="text-danger"></span>
                                </div>
                            </div>
                           
                            <div class="text-center"><button type="submit">Book a Table</button></div>
                        </form>
                    </div><!-- End Reservation Form -->

                </div>

            </div>

        </section><!-- /Book A Table Section -->