@model ContactViewModel
<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p><span>Need Help?</span> <span class="description-title">Contact Us</span></p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">


        <div class="row gy-4">

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="icon bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Address</h3>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
                    <i class="icon bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Call Us</h3>
                        <p>+1 5589 55488 55</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <i class="icon bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Email Us</h3>
                        <p>info@example.com</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
                <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
                    <i class="icon bi bi-clock flex-shrink-0"></i>
                    <div>
                        <h3>Opening Hours<br></h3>
                        <p><strong>Mon-Sat:</strong> 11AM - 23PM; <strong>Sunday:</strong> Closed</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

        </div>
        <p></p>

        <form asp-action="Contact" asp-controller="Home" method="post">
            <div class="row gy-4">

                <div class="col-md-6">
                    <label asp-for="@Model.SenderName" class="form-label-add-edit">Your Name:</label>
                    <input asp-for="@Model.SenderName" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.SenderName" class="text-danger"></span>
                </div>

                <div class="col-md-6 ">
                    <label asp-for="@Model.SenderEmail" class="form-label-add-edit">Your Email:</label>
                    <input asp-for="@Model.SenderEmail" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.SenderEmail" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="@Model.PhoneNumber" class="form-label-add-edit">Your Phone Number:</label>
                    <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="@Model.Subject" class="form-label-add-edit">Subject:</label>
                    <input asp-for="@Model.Subject" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Subject" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="@Model.Message" class="form-label-add-edit">Message:</label>
                    <textarea asp-for="@Model.Message" class="form-control" aria-required="true"></textarea>
                    <span asp-validation-for="@Model.Message" class="text-danger"></span>
                </div>

                <div class="col-md-12 text-center">
                    <button type="submit">Send Message</button>
                </div>

            </div>
        </form><!-- End Contact Form -->

    </div>

</section><!-- /Contact Section -->


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}