@model ShopQueryModel
<!-- Menu Section -->
        <section id="menu" class="menu section">


            <div class="container">

                <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                            <h4>Starters</h4>
                        </a>
                    </li><!-- End tab nav item -->

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                            <h4>Breakfast</h4>
                        </a><!-- End tab nav item -->

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                            <h4>Lunch</h4>
                        </a>
                    </li><!-- End tab nav item -->

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
                            <h4>Dinner</h4>
                        </a>
                    </li><!-- End tab nav item -->

                </ul>

                <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

                    
                <div class="tab-pane fade active show" id="menu-starters">

                    <div class="tab-header text-center">
                        <p>Menu</p>
                        <h3>Starters</h3>
                    </div>

                    <div class="row gy-5">
                    @foreach (var item in Model.Items.Where(c=>c.CategoryId == 1))
                    {
                    <div class="col-lg-4 menu-item">
                        <h4>@item.Name</h4>
                        <a href="@item.ImageUrl" class="glightbox"><img src="@item.ImageUrl" class="menu-img img-fluid" alt=""></a>
                        <p class="ingredients">
                            @item.Description
                        </p>
                        <p class="price">
                            $@item.Price
                        </p>
                    </div>
                    }
                </div>
            </div>
                    

                    <div class="tab-pane fade" id="menu-breakfast">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Breakfast</h3>
                        </div>

                        <div class="row gy-5">

                      @foreach (var item in Model.Items.Where(c=>c.CategoryId == 2))
                      {
                      <div class="col-lg-4 menu-item">
                        <h4>@item.Name</h4>
                        <a href="@item.ImageUrl" class="glightbox"><img src="@item.ImageUrl" class="menu-img img-fluid" alt=""></a>
                        <p class="ingredients">
                            @item.Description
                        </p>
                        <p class="price">
                            $@item.Price
                        </p>
                      </div>
                      }

                            

                </div>
            </div><!-- End Breakfast Menu Content -->

                    <div class="tab-pane fade" id="menu-lunch">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Lunch</h3>
                        </div>

                        <div class="row gy-5">

                        @foreach (var item in Model.Items.Where(c => c.CategoryId == 3))
                        {
                        <div class="col-lg-4 menu-item">
                            <h4>@item.Name</h4>
                            <a href="@item.ImageUrl" class="glightbox"><img src="@item.ImageUrl" class="menu-img img-fluid" alt=""></a>
                            <p class="ingredients">
                                @item.Description
                            </p>
                            <p class="price">
                                $@item.Price
                            </p>
                        </div>

                        }

                        </div>
                    </div><!-- End Lunch Menu Content -->

                    <div class="tab-pane fade" id="menu-dinner">

                        <div class="tab-header text-center">
                            <p>Menu</p>
                            <h3>Dinner</h3>
                        </div>

                        <div class="row gy-5">

                    @foreach (var item in Model.Items.Where(c => c.CategoryId == 4))
                    {
                        <div class="col-lg-4 menu-item">
                            <h4>@item.Name</h4>
                            <a href="@item.ImageUrl" class="glightbox"><img src="@item.ImageUrl" class="menu-img img-fluid" alt=""></a>
                            <p class="ingredients">
                                @item.Description
                            </p>
                            <p class="price">
                                $@item.Price
                            </p>
                        </div>
                    }


                        </div>
                    </div><!-- End Dinner Menu Content -->

                </div>

            </div>

        </section><!-- /Menu Section -->